<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="create-user-container">
        <form action="/update-user" method="POST">
            <div><b>Update</b></div>
            <div>
                <label>Email:</label>
                <input type="email" name="email" value="<%= data.email %>"/>
            </div>
            <div>
                <label>First Name:</label>
                <input type="text" name="firstName" value="<%= data.firstName %>" autofocus/>
            </div>
            <div>
                <label>Last Name:</label>
                <input type="text" name="lastName" value="<%= data.lastName %>"/>
            </div>
            <div>
                <label>Address:</label>
                <input type="text" name="address" value="<%= data.address %>"/>
            </div>
            <div>
                <label>Phone Number</label>
                <input type="text" name="phonenumber" value="<%= data.phonenumber %>"/>
            </div>
            <input type="text" hidden value="<%= data.id %>" name="id">
            <div>
                <button type="submit" class="btn-submit">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>